body {
	color: #4d4e53;
	font-family: 'Lato', 'Open Sans', Arial, sans-serif;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-template-areas: "navbar main-doc";
}

nav {
	grid-area: navbar;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	border-right: solid 2px black;
	background-color: #f7f7f7;
	overflow: scroll;
}

main {
	grid-area: main-doc;
}

code {
	display: block;
	white-space: pre-wrap;
	background-color: #f7f7f7;
	padding: 10px 20px;
}

header {
	font-size: 30px;
	margin-bottom: 20px;
	padding-right: 10px;
	color: black;
}

.nav-link {
	display: block;
	font-size: 20px;
	padding: 20px 10px;
	text-decoration-line: none;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 2px;
	color: #4d4e53;
}

section {
	margin: 40px 20px;
}

p {
	margin-left: 10px;
}

@media (max-width: 1080px){

	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas: 
			"navbar", 
			"main-doc";
	}

	nav {
		max-height: 300px;
		width: 100%;
	}

	main {
		margin-top: 310px;
	}
}